@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Licorice&display=swap');

html {
  height: 100%;
  width: 100%;
  background-color: #9CBEBE;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #B2A58F;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

.main-header {
  background-color: #B2A58F;
  width: 100%;
  margin-top: 30px;
}


.header-content {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-info{
position: absolute;
top: 30px;
right: 0px;
text-align: right;
padding: 20px;
}

.header-text h1 {
  font-family: 'Just Another Hand', cursive;
  font-size: 65px;
  margin: 0;
}

.header-text p {
  font-family: 'Licorice', cursive;
  font-size: 30px;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  gap: 10px;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  background-color: #DDCCAB;
  border-radius: 3px;
}

.content-image {
  display: block;
  margin: 20px auto;
  max-width: 90%;
}

